:root {
    --light-blue: rgba(235, 242, 247, 0.9);
    --light-blue-hard: #dbeaf4;
    --blue: #dbeaf4;
    --light-grey: #eaecec;
    --grey: #b6b8b8;
    --dark-grey: #6d6868;
    --trans-grey: rgba(182, 184, 184, 0.5);
    --black: #272424;
    --white: #fbfdff;
}
